body {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal; 
    width: 100%;
    margin: 0;
    font-weight: bolder;
}
#header {
    padding-top: 30px;
    padding-bottom: 20px;
}
#pic {
    width: 300px;
    border-radius: 100%;
    border: 5px solid pink;
    height: 260px;
}
#top {
    text-shadow: 5px 5px 20px black;
    color: white;
}
#head {
    text-shadow: 3px 2px  3px black;
    text-align: center;
    color: pink;
    padding: 10px 0;
    margin-bottom: 1px;
}
#tophead {
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: linear-gradient(to top left, rgb(168, 116, 124), rgb(206, 80, 101), pink);

}
video {
    width: 100%;
    height: 300px;
}
#gift {
    text-align: center;
    border-top: 10px solid white;
    margin-top: 0px;
    padding: 10px 0;
}
.vid  {
    border-bottom: 30px dotted white;
}
.album {
    width: 150px;
}
#alb {
    display: flex;
    justify-content: center;
}

.messages {
    border: 7px dotted rgb(243, 52, 52);
    margin-bottom: 15px;
    padding: 10px 5px;
    background-image: url();
    background-size: cover;
    background-color: pink;
    margin-left: 13px;
    margin-right: 13px;
}
.name {
    text-decoration: underline 2px rgb(252, 110, 134)
}
.albums {
    display: flex;
    justify-content: center;
}
.section {
    display: flex;
    align-items: end;
    width: 150px;
}
.images {
    width: 150px;
    height: 180px;
}
.imm {
    width: 200px;
}
#lowerbottom {
    background-color: rgb(228, 83, 83);
    margin-top: 0;
}
.videe {
    width: 100px;
    height: 163px;
}
.bottom {
    display: flex;
    margin: 0;
}
.immm {
    width: 200px;
}
#videee {
    display: flex;
    justify-content: end;
}
#last {
    width: 100%;
    height: 200px;
}
#tag {
    margin-left: 10px;
    font-family: "Londrina Outline", sans-serif;
    color: pink;
}
